# Local
.DS_Store
*.local
*.log*
*.gz
*.tgz

# node
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.test
