.container {
  margin: 0 auto;
  width: 85%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card {
  /* background: purple !important; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em; 
}

.button-submit {
  /* background: teal !important;
  margin: 1em !important;
  color: white !important; */
}

.button-clear {
  /* background: rgb(63, 63, 49) !important;
  margin: 1em !important;
  color: white !important; */
}
